@{
    ViewData["Title"] = "Home";
}
@* Feito por Eduardo Miranda CB3026604 & Cauã Barros CB3025179 *@

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-body text-center">
            <h2 class="mb-4 text-primary">
                👨‍💻 Sistema de Gerenciamento BL & Containers
            </h2>

            <p class="lead">
                Este programa foi desenvolvido por
                <strong>Eduardo Miranda</strong> e
                <strong>Cauã Barros</strong>.
            </p>

            <hr class="my-4" />

            <p class="fs-5 text-muted">
                Use o menu acima para navegar pela aplicação.
            </p>
        </div>
    </div>
</div>
